services:
  code:
    build: .
    user: ${UID:?}:${GID:?}
    environment:
      # Specify the user for the code-server process
      # https://coder.com/docs/code-server/install#docker
      - DOCKER_USER=${USER:?}
    volumes:
      # When DOCKER_USER is set, code-server will use the specified user
      # but the user's home directory will still be /home/coder.
      - type: bind
        source: ${HOME:?}/.config/code-server
        target: /home/coder/.config/code-server
      - type: bind
        source: ${HOME:?}/.local/share/code-server
        target: /home/coder/.local/share/code-server
      - type: bind
        source: ${WORKSPACE:?}
        target: /home/coder/workspace
    ports:
      - target: 8080
        published: ${PORT:?}
    restart: unless-stopped
